<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>\
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
      <div class="main">
    <nav>
      <div class="logo" </div>
      <div class="links">
        <div>Home</div>
      </div>
      <div class="menu-toggle">&#9776;</div> <!-- Hamburger icon -->
    </nav>
    <div class="home">
      <div class="imghome"></div>
      <div class="hometxt">
        <div class="head"><span>Hi, It's </span><span>Ayush</span></div>
        <div class="subhead"><span>I'm a </span><span>Full stack Web Developer</span><span class="cursor">|</span></div>
        <p> I specialize in building modern, user-friendly web applications using the MERN stack (MongoDB, Express.js, React.js, Node.js). I love turning ideas into real projects that solve problems and look great on all devices.</p>
        <h1>My projects</h1>
        <p>1.Job Board App<br>A full-featured job portal where users can post jobs, apply for jobs, and manage applications. Built using the MERN stack (MongoDB, Express, React, Node.js), with authentication, user roles (admin/recruiter/job-seeker), and a responsive UI for both desktop and mobile users. It simulates a real-world job marketplace.
</p>
<p>2.Printrest<br> A utility web application to manage and organize printable items or documents. Designed with a clean UI using React, and integrated with a backend API built on Node.js and Express. This project focuses on creating a smooth user experience and managing data using MongoDB.
</p>
<p>3.Todo List App<br>A basic CRUD Todo App made using MERN stack, where users can add, update, and delete daily tasks. This was my beginner full-stack project to understand frontend-backend integration, form handling, and database operations.</p>
<p>Contact Me = 6265000403</p>
<p>Email = agrawalayush81304@gmail.com</p>
       <div class="social">
  <a href="https://www.linkedin.com/in/YOUR_LINKEDIN_USERNAME" target="_blank">
    <img src="https://www.linkedin.com/in/ayush-agrawal-41278536a" alt="LinkedIn">
  </a>
  <a href="https://github.com/Ayush1169" target="_blank">
    <img src="https://img.icons8.com/ios_filled/512/github.png" alt="Github">
  </a>
  <a href="https://instagram.com/___ayush____agrawal____" target="_blank">
    <img src="https://img.icons8.com/?size=512&id=44907&format=png" alt="Instagram">
  </a>
</div>
      </div>
    </div>
     <section class="contact-section">
      <h2>Contact Me</h2> 
    </section>
  </div>
</body>
</html>